In [2]:
import nibabel as nib
import numpy as np
from skimage.measure import label, regionprops, regionprops_table
import matplotlib as plt
from nilearn import plotting
from sklearn.cluster import KMeans, DBSCAN, AffinityPropagation, AgglomerativeClustering
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d, Axes3D
import pandas as pd
from skimage import morphology
from skimage import measure

In [3]:
cd

/home/athurai3

In [4]:
ground_truth_seega = pd.read_csv('projects/ctb-akhanf/athurai3/unet_contact_seg/clustering_approach/sub-P001/sub-P001_SEEGA.fcsv',  sep=',', header = 2)
kmeans_clusters = pd.read_csv('projects/ctb-akhanf/athurai3/unet_contact_seg/clustering_approach/sub-P001/sub-P001_desc-label_kmeans_clusters_contacts.fcsv',  sep=',', header = 2)
masked_clusters = pd.read_csv('projects/ctb-akhanf/athurai3/unet_contact_seg/clustering_approach/sub-P001/sub-P001_desc-label_masked_clusters_contacts.fcsv', sep=',', header = 2)

In [5]:
ground_truth_seega

,# columns = id,x,y,z,ow,ox,oy,oz,vis,sel,lock,label,desc,associatedNodeID
0,1,31.499,75.423,10.424,0,0,0,1,1,1,1,RAIn1,RD10R-SP03X,NaN
1,2,30.651,76.281,13.190,0,0,0,1,1,1,1,RAIn2,RD10R-SP03X,NaN
2,3,29.819,77.155,16.569,0,0,0,1,1,1,1,RAIn3,RD10R-SP03X,NaN
3,4,28.954,77.736,19.597,0,0,0,1,1,1,1,RAIn4,RD10R-SP03X,NaN
4,5,28.217,78.377,21.676,0,0,0,1,1,1,1,RAIn5,RD10R-SP03X,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,33.152,76.761,-6.761,0,0,0,1,1,1,1,RTePo6,RD10R-SP04X,NaN
86,87,35.915,76.188,-5.704,0,0,0,1,1,1,1,RTePo7,RD10R-SP04X,NaN
87,88,38.634,75.759,-4.739,0,0,0,1,1,1,1,RTePo8,RD10R-SP04X,NaN
88,89,41.440,75.134,-3.722,0,0,0,1,1,1,1,RTePo9,RD10R-SP04X,NaN
89,90,44.316,74.560,-2.695,0,0,0,1,1,1,1,RTePo10,RD10R-SP04X,NaN